node_modules/
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
logs/
coverage/
.idea/
run/
*.sw*
*.un~
typings/
.nyc_output/
dist
.umi